body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 1em 2em;
  margin: 1em auto;
  background-color: rgb(204, 54, 54);
  color: white;
  border: none;
  border-radius: 1em;
  margin: 0.5em;
  &:hover {
    box-shadow: rgba(85, 84, 84, 0.192) 0px 4px 12px;
    }
}

a {
  color: white;
}

.display_options {
  margin:1em;
}

div, section, article, details, summary {
  border-radius: 1em;
}