:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 1em 3em;
  margin: 1em auto;
  background-color: rgb(190, 65, 65);
  /* background-color: rgb(6, 83, 183); */
  /* background-color: rgb(121, 188, 21); */
  color: white;
  border: none;
  border-radius: 1em;
}

a {
  color: white;
}

.display_options {
  margin:1em;
}
